node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/.idea/
/allure-report/
/allure-results/
.DS_Store
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
